{% extends 'todoapp/base.html' %}

{% block title %} Confirm Delete Task - Todo Space {% endblock %}

{% block content %}

    <h1>Confirm Task to delete</h1>
    <p>Are you sure you want to delete this task(s)?</p>
    <blockquote>{{ task.title }}</blockquote>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-success" type="submit">Yes Confirm</button>
        <button class="btn btn-secondary"><a class="text-white text-decoration-none" href="{% url 'todoapp:display_task' %}">No Cancel</a></button>
    </form>


{% endblock %}