{% extends 'todoapp/base.html' %}
{% load humanize %}

{% block title %} Tasks - Todo Space {% endblock %}

{% block content %}
<div class="mb-3 d-flex justify-content-between">
    <h1>My tasks</h1>
    <a class="btn btn-success mb-4" href="{% url 'todoapp:create_task' %}">Create New Task</a>
</div>
{% if messages %}
<div aria-atomic="true" aria-live="polite" class="position-relative">
    <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1055;">
        {% for message in messages %}
        <div class="toast align-items-center text-bg-{{ message.tags }} border-0 show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    {{ message }}
                </div>
                <button class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %} -->
    {% endif %}
</div>


<form action="{% url 'todoapp:display_task' %}" method="get" class="mb-4">
    <div class="d-flex align-items-center gap-2 mb-3">
    <label class="form-label mb-0">Filter By Status:</label>
    <select class="form-select w-auto" name="status" onchange="this.form.submit()">
        <option value="" {% if not status_filter %}selected{% endif %}>All</option>
        <option value="pending" {% if status_filter == 'pending' %}selected{% endif %}>Pending</option>
        <option value="completed" {% if status_filter == 'completed' %}selected{% endif %}>Completed</option>
        <option value="incomplete" {% if status_filter == 'incomplete' %}selected{% endif %}>Incomplete</option>
        <option value="cancelled" {% if status_filter == 'cancelled' %}selected{% endif %}>Cancelled</option>
    </select>
    </div>
</form>




<table class="table table-striped">

    <tr>
        <th class="text-center">Title</th>
        <th class="text-center">Due Date</th>
        <th class="text-center">Status</th>
        <th class="text-center">Action</th>
    </tr>

    <tr>
        <td>


            {% for task in tasks %}
            {% if task %}
            <ul style="list-style-type: none;">
                <li>{{ task }}</li> <!-- Add ( {{ task.date_added|naturaltime }})-->
            </ul>
            {% else %}
            <p>No tasks added yet</p>
            {% endif %}

            {% endfor %}

        </td>

        <td>
            {% for due_date in tasks %}

            <ul style="list-style-type: none;">
                <li>{{ due_date.due_date }}</li>
            </ul>

            {% endfor %}
        </td>

        <td>
            {% for status in tasks %}
            <ul style="list-style-type: none;">
                <li>{{ status.status }}</li>
            </ul>
            {% endfor %}
        </td>
        <td>
            {% for all_task in tasks %}
            <ul style="list-style-type: none;">
                <li>
                    <a class="edit" href="{% url 'todoapp:edit_task' all_task.id %}">Edit</a>
                    <a class="del" href="{% url 'todoapp:confirm_delete_task' all_task.id %}">Delete</a>
                </li>
            </ul>

            {% endfor %}
        </td>
    </tr>
</table>

<style>
    a {
        text-decoration: none;
    }

    .del {
        color: red;
    }

    .edit {
        color: rgb(5, 232, 5);
    }
</style>
{% endblock %}