{% extends 'todoapp/base.html' %}
{% load humanize %}

{% block title %} Tasks - Todo Space {% endblock %}

{% block content %}

    <h1>My tasks</h1>
    <a class="btn btn-success" href="{% url 'todoapp:create_task' %}">Create New Task</a>
    
    <!-- Filter section for the tasks-->
    <form action="{% url 'todoapp:display_task' %}" method="get">
        <label>Filter By Status:</label>
        <select name="status" onchange="this.form.submit()">
            <option>All</option>
            <option value="pending">Pending</option>
            <option value="completed">Completed</option>
            <option value="incomplete">Incomplete</option>
            <option value="cancelled">Cancelled</option>
        </select>
    </form>
         
        
    <table class="table table-striped">

    <tr>
        <th class="text-center">Title</th>
        <th class="text-center">Due Date</th>
        <th class="text-center">Status</th>
        <th class="text-center">Action</th>
    </tr>

    <tr>
        <td>

        
        {% for task in tasks %}
            {% if task %}
                <ul style="list-style-type: none;">
                    <li>{{ task }}</li>  <!-- Add ( {{ task.date_added|naturaltime }})-->   
                </ul>
            {% else %}
                <p>No tasks added yet</p>
            {% endif %}

        {% endfor %}

        </td>

        <td>
            {% for due_date in tasks %}

                <ul style="list-style-type: none;">
                    <li>{{ due_date.due_date }}</li>
                </ul>

            {% endfor %}
        </td>

        <td>
            {% for status in tasks %}
                <ul style="list-style-type: none;">
                    <li>{{ status.status }}</li>
                </ul>
            {% endfor %}
        </td>
        <td>
            {% for all_task in tasks %}
                <ul style="list-style-type: none;">
                    <li>
                        <a class="edit" href="{% url 'todoapp:edit_task' all_task.id %}">Edit</a>
                        <a class="del" href="{% url 'todoapp:confirm_delete_task' all_task.id %}">Delete</a>
                    </li>
                </ul>

            {% endfor %}
        </td>
    </tr>
    </table>

    <style>
        a {
            text-decoration: none;
        }
        .del {
            color: red;
        }
        .edit {
            color: rgb(5, 232, 5);
        }
    </style>
{% endblock %}